*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and nav style */
.header{
    background-color:#FFF8F3 ;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
}
.btn-primary{
   color:#FFFFFF;
   font-weight: 700;
   font-size: 20px;
   border: 0;
   height: 64px;
   border-radius: 5px;
   background: #fd6e0a;
   padding: 18px 35px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
     margin-left: 50px; 
}
nav ul{
    display: flex;
    align-items: center;
}
.primary-color{

    color: orange;
}
/* banner */
.banner{

    margin: 0 200px;
    display: flex;
    align-items: center;
}

.bannner-title{
    font-weight: 700;
    font-size: 85px;

}
.bannner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;


}
.bannner-para{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}